.projects-container {
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #1c1b23;
}

.title {
  text-align: center;
  color: #acabb4;
  margin-top: 1rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}
