.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: var(--primary-dark-2);
  z-index: 50;
  transition: 0.5s;
}

.overlay2 {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 40; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.hide-menu {
  left: -300px;
}

.menu .links {
  margin-top: 4rem;
  margin-left: 1rem;
}


@media screen and (min-width: 1025px) {
  .menu {
    left: -300px;
  }
  .overlay2 {
    background-color: transparent;
  }
}
