#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.modal-container {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.modal {
  margin-top: 8rem;
  height: 60vh;
  width: 90vw;
  max-width: 700px;
  background-color: transparent;
  z-index: 250;
  position: fixed;
  background-color: #14131a;
  border-radius: .5rem;
}

.close-btn {
  background-color: transparent;
  color: #acabb4;
  border: none;
  font-size: 2rem;
  float: right;
  margin: .7rem;
  cursor: pointer;
}
