.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  z-index: 30; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.modal-container {
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}

.modal {
  margin-top: 8rem;
  width: 90vw;
  max-width: 700px;
  background-color: transparent;
  z-index: 35;
  position: fixed;
  background-color: var(--primary-dark-1);
  border-radius: 0.5rem;
  padding-bottom: 2rem;
  max-height: 80vh;
  overflow: auto;
}

.close-btn {
  background-color: transparent;
  color: #acabb4;
  border: none;
  font-size: 2rem;
  float: right;
  margin: 0.7rem;
  cursor: pointer;
}
