.side-bar {
  background-color: #1c1b23;
  min-width: 250px;
  border-radius: 0.5rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 90vh;
  margin-left: 0.5rem;
}

@media screen and (max-width: 1025px) {
  .side-bar {
    display: none;
  }
  main {
    margin-left: 0.5rem;
  }
  .ham-btn {
    display: flex;
  }
}
