.side-bar {
  background-color: #1c1b23;
  min-width: 250px;
  border-radius: 0.5rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 80vh;
  margin-left: .5rem;
}

