@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --primary-dark-1: #14131a;
  --primary-dark-2: #1c1b23;
}

* {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-dark-1);

}


main {
  margin-top: 4.7rem;
  margin-left: 16rem;
  margin-right: .5rem;
}

@media screen and (max-width: 1025px) {
  .side-bar {
    display: none;
  }
  main {
    margin-left: .5rem;
  }
  .ham-btn {
    display: flex;
  }
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}
