.banner {
  display: flex;
  align-items: center;
  height: 175px;
  overflow: hidden;
  border-radius: 0.5rem;
  background-image: url('./assets/banner.jpg');
  gap: 2rem;
}

.photo {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-left: 2rem;
  overflow: hidden;
}

.photo img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

